@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif+Telugu:wght@300&family=Tangerine:wght@700&display=swap');

body {
    margin-top: 2%;
    background-color: #fefcfa;
    font-family: Tangerine, sans-serif;
    font-weight: 700;
    font-size: 200%;
    color: #ab8240;

}

#logo {
    width: 3em;
}

.alltext {
    font-family: "Bebas Neue", serif;
    font-size: 1.5rem;
    color: #42250F;
    letter-spacing: .1vw;
}

.margin-promsolution {
    margin-top: 1%;
    text-align: center;
}

.shop-now-button {
    margin-top: -160%;
    background-color: #fefcfa;
    border-color: #42250F;
}

.btn {
    background-color: #fefcfa;
    border-color: #42250F;
}

.dropdown-item {
    font-family: "Bebas Neue", serif;
    color: #42250F;
    letter-spacing: .1vw;
}

#banner-link,
#all-products-link,
#badges-link,
#clothing-link,
#mugs-link,
#golf-link {
    color: #42250F;

}

.contacts {
    padding: 1%;
    color: #42250F;
    font-size: 2.5vw;
    bottom: 0;
    }

.contacts:hover,
.alltext:hover {
    color: #ab8240;
}

.socialmedia-gap {
    margin-left: 7px;
}

.contact-email {
    font-size: 2.5vw;
    clear: both;
    float: right;
}

.font-number {
    font-family: "Bebas Neue", Tangerine, sans-serif;
    font-weight: 100;
    font-size: 1.2vw;
}

#backgroundimg {
    width:100%;
    opacity: 0.2;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #ab8240 !important;
    color: #fefcfa !important;
}

.margin-top {
     margin-top: 2%;
}

/* shop button */
@media (max-width: 1450px) {
    .shop-now-button {
        margin-top: -100%;
        
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 992px) {
    .header-container {
        padding-top: 116px;
    }
    body {
        height: calc(100vh - 116px);
    }
    .mob-collapse {
        display: none;
    }
}

/*  */
@media (max-width: 700px) {

    .promtext {
        font-size: 0.9rem;
    }
}


