@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif+Telugu:wght@300&family=Tangerine:wght@700&display=swap');

body {
  background-color: #fefcfa;
  font-family: Tangerine, sans-serif;
  font-weight: 700;
  font-size: 250%;
  color: #ab8240;

}

#logo {
    width: 5em;
}
.alltext {
  font-family: "Bebas Neue", serif;
  font-size: 1.5rem;
  color: #42250F;
  letter-spacing: .1vw;
}

.margin-promsolution {
    margin-top: 1%;
    text-align: center;
}

.shop-now-button {
    border-color: #42250F;
}

.dropdown-item {
    font-family: "Bebas Neue", serif;
    color: #42250F;
    letter-spacing: .1vw;
}

#clothing-link, #all-products-link, #homeware-link, #specials-link {
    color: #42250F;

}
