<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown ">
            <a class="logo-font font-weight-bold nav-link mr-5 " href="#" id="all-products-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="banner-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Banners &amp; Posters
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="banner-link">
                <a href="" class="dropdown-item">Banners</a>
                <a href="" class="dropdown-item">Posters</a>
                <a href="" class="dropdown-item">Signs</a>
                <a href="" class="dropdown-item">All Banners</a>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="badges-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Badges &amp; Lanyards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="badges-link">
                <a href="" class="dropdown-item">Business cards</a>
                <a href="" class="dropdown-item">Badges</a>
                <a href="" class="dropdown-item">Lanyards</a>
                <a href="" class="dropdown-item">All Badges</a>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="clothing-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Bags &amp; Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Bags</a>
                <a href="" class="dropdown-item">Tshirts</a>
                <a href="" class="dropdown-item">Aprons</a>
                <a href="" class="dropdown-item">Hats</a>
                <a href="" class="dropdown-item">Pillows</a>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="mugs-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Mugs &amp; Giveaways
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="mugs-link">
                <a href="" class="dropdown-item">Mugs</a>
                <a href="" class="dropdown-item">Drink bottles</a>
                <a href="" class="dropdown-item">Keyrings</a>
                <a href="" class="dropdown-item">Pens</a>
                <a href="" class="dropdown-item">Coasters</a>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="golf-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Golf product
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="golf-link">
                <a href="" class="dropdown-item">Golf umbrellas</a>
                <a href="" class="dropdown-item">Golf balls</a>
                <a href="" class="dropdown-item">Towels</a>
                <a href="" class="dropdown-item">Forks</a>
            </div>
        </li>
    </ul>
</div>