{% extends "base.html" %}
{% load static %}

<!-- {% block page_header %} -->
<!-- Privacy Policy -->
<!-- {% include 'includes/toasts/toast_privacypolicy.html' %}
    <div>
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} -->

{% block content %}
<img src="{% static 'media/turn.jpg' %}" id="backgroundimg">
<div class="container margin-promsolution">
    <div class="col-md my-auto">
        <h4>
            <a href="{% url 'designproducts'%}" class="shop-now-button btn btn-lg rounded-8 text-uppercase alltext">Shop Now</a>
        </h4>
        </div>
    </div>
</div>
{% endblock %}
