{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container margin-promsolution">
    <div class="col-7 col-md my-auto">
        <h1 class="display-4">
            Promotional Products Design Solution
        </h1>
        <br>
        <h4>
            <a href="" class="shop-now-button btn btn-lg rounded-8 text-uppercase alltext">Shop Now</a>
        </h4>
        </div>
    </div>
</div>
<img src="{% static 'media/turn.jpg' %}" id="backgroundimg">
{% endblock %}