{% extends 'base.html' %}
{% block content %}
<p class="margin-top"> 
<form method="post" class="alltext text-center commentform">
  {% csrf_token %}
  {{ comment_form.as_p }}
  <button type="submit" class="btn btn-black rounded-8 text-uppercase btnsizeform">Submit</button>
  <a href="{% url 'designproducts' %}" class="btn btn-black rounded-8 text-uppercase btnsize">
    <span class="icon">
        <i class="fas fa-chevron-left"></i>
    </span>
    <span class="text-uppercase alltext">Keep Shopping</span>
</a>
</form>
</p>
{% endblock %}