{% extends 'base.html' %}
{% block content %}
<p class="margin-top">
<h1 class="alltext text-center topfontform">Edit Comment</h1>
<form method="post" class="alltext text-center commentform">
  {% csrf_token %}
  {{ comment_form.as_p }}
  <button type="submit" class="btn btn-black rounded-8 text-uppercase" id="editbtn">Update</button>
  <a href="{% url 'designproducts' %}" class="btn rounded-8 btn-lg">
    <span class="icon">
        <i class="fas fa-chevron-left"></i>
    </span>
    <span class="text-uppercase alltext">Keep Shopping</span>
</a>
</form>
</p>
{% endblock %}