<div class="row alltext" id="privacypolicy">
    <div class="col-12">
        <h2 class="text-center">Privacy Policy</h2>
        <div class="col-12 text-center">
            By using this site you agree to our <a class="light_brown"
                href="https://www.privacypolicygenerator.info/live.php?token=bL6wZXY5dSRASPJlJi9UFHjSjfepPzDK"
                target="_blank">
                Privacy Policy</a>. Please accept these before using the site.<br>
            <input type="checkbox" id="terms" name="terms" value="Terms and conditions" required class="text-center">
            I agree to the Terms and Conditions
        </div>
        <div class="col-12 text-center">
        <button id="privacypolicybtn" class="text-center">Close</button>
        </div>
    </div>
</div>